.text-dowload-photo-share {
  color: #f4f0d3;
  font-family: Bricolage Grotesque !important;
  font-size: 1.6em !important;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  font-weight: 800 !important;
}
